* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  line-height: 1.4;
}

footer,
.hero,
.card,
.tip-box {
  border: 1px solid rgb(5, 5, 5);
  background-color: #ebf8ff;
  margin: 20px;
  padding: 20px;
}

header {background: linear-gradient(to right, #7a9eee, #4bbce9);
  padding: 20px;
  color: white;
  box-shadow: 0 4px 8px rgb(126, 124, 124);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 20px;
}

.brand-icon {font-size: 50px;}
.brand-text p {font-size: 14px;}

nav a {
  color: aliceblue;
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover{
  color: rgb(14, 13, 13);
  text-decoration: underline;
}



.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  background-color: rgb(178, 181, 209);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background-color: rgb(106, 131, 243);
}