* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    "Kanit", "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(194, 219, 243);
  color: rgb(14, 13, 13);

  line-height: 1.6;
}

.container {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */
}

/* HEADER */
.site-header {
  /* border: 1px solid rgb(224, 110, 110);
  padding: 15px;
  margin: 15px; */

  background: linear-gradient(90deg, rgb(78, 67, 236), rgb(235, 166, 166));

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.brand {
  /* border: 1px solid rgb(23, 19, 247);
  padding: 15px;
  margin: 15px; */

  display: flex;
  gap: 15px;
  align-items: center;
}

.brand-icon {
  background-color: rgb(177, 112, 238);
  border-radius: 20px;
  font-size: 50px;
}

.brand-text h2 {
  font-size: 35px;
  color: aliceblue;
}
.brand-text p {
  font-size: 14px;
  opacity: 0.85;
  color: aliceblue;
}

.main-nav {
  /* border: 1px solid rgb(70, 10, 235);
  padding: 15px;
  margin: 15px; */
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-list a {
  color: rgb(255, 255, 255);
  text-decoration: none;

  padding: 15px;
  border-radius: 8px;
  transition: all 2s;
}
.nav-list a:hover {
  background-color: rgb(110, 109, 109);
}

/* Main-Layout */
.main-layout {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */

  display: grid;
  grid-template-columns: 1fr 390px;
  padding: 20px 22px 0px;
  gap: 15px;
}
/* ===== Left-content ===== */
.left-content {
  /* border: 1px solid rgb(0, 0, 0);
  padding: 15px;
  margin: 15px; */

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* hero */
.hero {
  /* border: 1px solid rgb(250, 25, 25);
  padding: 15px;
  margin: 15px; */

  display: grid;
  grid-template-columns: 1.5fr 0.8fr;

  background: linear-gradient(100deg, rgb(235, 166, 166), rgb(78, 67, 236));
  border-radius: 12px;
  padding: 24px 26px;
  align-items: center;
  justify-content: center;

  min-height: 185px;
}

.hero-text h1 {
  font-size: 36px;
  color: rgb(0, 0, 0);
}
.hero-text p {
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.hero-photo img {
  width: 200;
  height: 200px;
  object-fit: cover;
  border: 3px solid black;
  border-radius: 12px;
}

/* link example */
.card {
background-color: white;
  border-radius: 12px;
  padding: 24px 26px;
}

.card-header-title {
  background-color: rgb(255, 255, 255);
  display:flex;
  gap: 8px;
  align-items: center;
  color: rgb(3, 3, 3);
}

.card-body-grid {
  /*background-color: green;*/
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 10px;
}

/* ===== right-content ===== */
.right-sidebar {
  /* border: 1px solid rgb(221, 4, 210); */
  /* padding: 0 15px; */
  margin: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result-panel{
  border: 1px solid rgb(224, 6, 42);
  border-radius: 10px;
  /* padding: 10px; */
  overflow:hidden; 
}

.code-panel {
  border: 1px solid rgb(224, 6, 42);
  border-radius: 10px;
  /* padding: 10px; */
  overflow:hidden; 
  background-color: black;
}

.result-penal-title {
  background-color: rgb(185, 238, 238);
  padding: 6px 15px;
}

.result-panel-body {
  padding: 6px 15px;
}

.email-icon {
  background-color: blue;
  border-radius: 20%;
}

.back-btn {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 4px 15px;
  margin-top: 10px;

  text-decoration: none;
  
  display: inline-block !important;
}

.result-panel-body a {
  display: block;
  color: rgb(17, 17, 17); 
}

.result-panel-body a:hover {
  color: red;
  text-decoration: none;
}
 /* panel ขาว */
.code-panel-body {
  background-color: black;
  min-height: 150px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

.code-list {
  color: wheat;
  padding: 10px 50px;
}
.code-list li {
  padding: 5px 20px;
}

.tag { color: red;}
.attr { color: green;}
.value {color: greenyellow;}

.result-panel-body-3g {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20;
}

figcaption {
  text-align: center;
  font-size: 15px;}

.side-card {
  background-color: white;
  border-radius: 12px;
  padding: 16px 18px;
  margin-bottom: 20px;
}

.side-card h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

.objective-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.objective-list li {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.objective-num {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: rgb(48, 36, 223);
  color: white;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.tag-menu span {
  border-radius: 30px;
  padding: 8px 6px;
  text-align: center;

  /* border: 1px solid red; */
  /* background-color: yellowgreen; */
}

.tag-menu span:nth-child(1) {
  background-color: rgb(23, 36, 223); color: rgb(232, 233, 236);
}
.tag-menu span:nth-child(2) {
  background-color: rgb(35, 51, 51); color: rgb(245, 240, 240);
}
.tag-menu span:nth-child(3) {
  background-color: rgb(61, 228, 103); color: rgb(3, 3, 3);
}
.tag-menu span:nth-child(4) {
  background-color: rgb(238, 110, 5); color: rgb(10, 10, 10);
}
.tag-menu span:nth-child(5) {
  background-color: rgb(243, 11, 193); color: rgb(6, 0, 8);
}
.tag-menu span:nth-child(6) {
  background-color: rgb(0, 16, 243); color: rgb(243, 0, 190);
}
.tag-menu span:nth-child(7) {
  background-color: rgb(0, 10, 10); color: rgb(255, 254, 254);
}
.tag-menu span:nth-child(8) {
  background-color: aqua; color: red;
}

.activity-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activity-list li {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.activity-list span {
  width: 22px;
  min-width: 22px; 
  height: 22px;
  flex-shrink: 0; 
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-list li:nth-child(1) span {
  background-color: rgb(23, 36, 223);
  color: rgb(232, 233, 236);
}

.activity-list li:nth-child(2) span {
  background-color: rgb(35, 51, 51);
  color: rgb(245, 240, 240);
}

.activity-list li:nth-child(3) span {
  background-color: rgb(61, 228, 103);
  color: rgb(3, 3, 3);
}

.activity-list li:nth-child(4) span {
  background-color: rgb(238, 110, 5);
  color: rgb(10, 10, 10);
}

.activity-list li:nth-child(5) span {
  background-color: rgb(243, 11, 193);
  color: rgb(6, 0, 8);
}

.activity-list li:nth-child(6) span {
  background-color: rgb(0, 16, 243);
  color: rgb(243, 0, 190);
}

/* =====submit===== */

.submit-card {
  background-color: rgb(201, 223, 125);
  border-color: rgb(93, 116, 10);

  align-items: center;
  display: flex;
  gap: 20px; 
}

.icon-plane{
  font-size: 30px;
}

/* tipbox naja */
.tip-box {
  border: 1px solid rgb(1, 2, 3);
  padding: 20px;
  margin: 20px;
  background-color: white;

  display: grid;
  grid-template-columns: 90px 1fr 170px;
  gap: 10px;
  align-items: center;

  box-shadow: 0 4px 14px white;
}

.tip-content h2 {
  color: blue;
  font-size: 24px;
  margin-bottom: 4px;
}

.tip-content p {
  font-size: 15px;
  color: black;
}

.tip-content span {
  color: red;
  font-family: Consolas, monospace;
  font-weight: bold;
}

.tip-icon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: rgb(53, 126, 209);
  color: white;

  font-family: Georgia, serif;
  font-size: 50px;
  font-weight: 600;


  display: flex;
  align-items: center;
  justify-content: center;
  
}
.tip-photo {
  text-align: center;
}
.bob {
font-size: 46px;
}
.book{
font-size: 46px;
}



/* ==================
     Responsive
================== */


@media (max-width: 1200px) {
  .main-layout {
  grid-template-columns: 1fr;
  }

  .right-sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    padding: 0px;
  }
}

@media (max-width: 768px) {

  .right-sidebar {
    grid-template-columns:1fr;
  }
  .site-header {
  background: linear-gradient(90deg, rgb(78, 67, 236), rgb(235, 166, 166));

  flex-direction: column;
  width: 100;
}

.nav-list {
flex-wrap:wrap;
justify-content: center;
}

.tip-photo {
  display: none;
}

  .tip-box {
  grid-template-columns: 90px 1fr ;
  }
}